

    


*{
    margin: 0;
   
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@media screen and (max-width:479px){
    
}
header{
    
    
    box-sizing: border-box;

    background-clip: content-box;
   font-size: 17px;
    width: 100%;
   
    
    overflow: visible;
    background: url(../assests/images/montagne.png) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.strong{
    border: white solid 5px;
    margin-top: 10%;
    font-size: 17px;
}
.span{
    display: none;

}
.forty a{
    margin-top: 5%;
    text-decoration: none;
   color: ivory;
   font-size: 17px;

}
a:hover{
    background-color: lightblue;
}
.nav{
    display: flex;
    justify-content: flex-end;
    color: lightcyan;
    text-decoration: none;
}

#hero{
    display:block;
}

h1{
    font-size: 17px;
    color: white;
    margin-left: 6%;
    margin-top: 10%;
    border-bottom: white solid 3px;
    margin-bottom: 3%;
}

.contener{
    display: block;
    color: white;
    font-size: 20px;
    margin-left: 5%;
    font-size: 17px;
}
.bout{
    border-radius: 8px;
    border: 2px solid white;
    width: 250px;
margin-left: 3%;
cursor: pointer;
background: transparent;
color: white;
}
.bout:hover{
    color: violet;
    
}
div.image{
    display: block;
    overflow: visible;
    box-sizing: content-box;
    width: 100%;
    height: auto;

}
 div.article1{
     background: url(./images/la-brune-de-jeun.jpeg) no-repeat;
     display: block;  
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    overflow: visible;
    background-size: cover;
    height: 300px;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
    
 }

 div.article2{
    background-image: url(./images/Architecture_urbaine.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: center;
    
   
}

div.article3{
    background-image: url(./images/la-mer-ma-super-trousse-a-pharmacie.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

div.article4{
    background-image: url(./images/sad_dog.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

div.article5{
    background-image: url(./images/aeroport-barcelone-1.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

div.article6{
    background-image: url(./images/site-de-photo-1024x683.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    
}
div.image,a{
   
    text-decoration: none;
    color: white;
    text-align: left;

    
}
div.image,h2{
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-bottom: 3%;
border-bottom: white dotted 3px;
margin-top: 0%;
text-align: center;



}

div.image,a:hover{
    background-color: rgba(238, 130, 238, 0.342);
}
   
    


.para,footer{
    background-color: rgb(73, 73, 112) 
}

div.para_1{
    background-color: rgb(73, 73, 112);
    color: white;
    border-bottom: black solid 3px;
}

div.form{
    background-color: rgb(73, 73, 112) ;
  flex-direction: row;
  align-items: stretch;
    color: white;
    border:black solid 2px
}






@media screen and (min-width:480px) and (max-width:1024px)
 {

    html,body{
        max-width: 1024px;
        min-width: 480px;

    }

    header{
        width: 130%;
        display: flex;
        max-width: 1024px;
        min-width: 480px;
        overflow-y: hidden ;
    }
    div.image{
        display: flex;
        flex-direction: row;
        padding: 0;
       max-width: 1024px;
       min-width: 480px;
        box-sizing: content-box;
       
    
    }


    .content{
        flex-direction: row-reverse;
       
        flex-wrap: wrap;
    }
     div.article1{
        box-sizing: border-box;
        display: flex;
        padding: 0;
        flex-direction: row;
        width: 500px;
        position: relative;
      
      
        
        overflow: visible;
        background-size: cover;
        box-sizing: inherit;
        
     }
    
     div.article2{
        box-sizing: border-box;
      position: relative;
       margin-top: -60%;
        display: flex;
        margin-left: 100%;
        width: 500px;}

        .content1{
            
            flex-direction:row-reverse  ;
           
            flex-wrap: wrap;
        
        }

        div.article3{
           
            box-sizing: border-box;
            position: relative;
             margin-top: 60%;
              display: flex;
              margin-left: -100%;
              width: 500px;
              
        }

        div.article4{
            display: flex;
            position: relative;
            margin-top: -60%;
            margin-left: -100%;
            width: 500px;
            
            background-size: cover;
            overflow: visible;
            box-sizing: inherit;
            float: right;
            box-sizing: border-box;
            
        }
        .content2{
            flex-direction:row;
            justify-content: space-around;
            flex-wrap: wrap;
        
        }

        div.article5{

            box-sizing: border-box;
            position: relative;
             top: 100%;
              display: flex;
              margin-left: -206%;
              padding: 0;
              width: 500px;
              

        }

        div.article6{
            box-sizing: border-box;
            position: relative;
             top: 50%;
              display: flex;
              left: -100%;
              width: 500px;
              padding: 0;

        }



        .para{
           display: flex;
           flex-direction: row;
            margin-top: 39%;
            padding: 0;
        }
        div.para_1{
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
}

@media screen and (max-width:1439) {

  
        /*.perso{
    box-sizing: border-box;
    display: inline-block;
    padding: 3%;
    flex-direction: row;

    position: relative;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    overflow: visible;
    background-size: cover;
    box-sizing: inherit;
    }

    .urb{
   
    box-sizing: border-box;
    float: right;
    width: 500px;
    height: 400px;
    display: inline-block;
    margin-top: -16%;
    margin-right: 0;
    position: relative;
    background-repeat: no-repeat;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-clip: content-box;
    overflow: visible;



    }
    */ 
}



