

    


*{
    margin: 0;
   
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header{
    
    
    box-sizing: border-box;

    background-clip: content-box;
   font-size: 17px;
    width: 100%;
    overflow: visible;
    background: url(../assests/images/montagne.png) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.strong{
    border: white solid 5px;
    margin-top: 10%;
    font-size: 17px;
}
.span{
    display: none;

}
.forty a{
    margin-top: 5%;
    text-decoration: none;
   color: ivory;
   font-size: 17px;

}
a:hover{
    background-color: lightblue;
}
.nav{
    display: flex;
    justify-content: flex-end;
    color: lightcyan;
    text-decoration: none;
}

#hero{
    display:block;
}

h1{
    font-size: 17px;
    color: white;
    margin-left: 6%;
    margin-top: 10%;
    border-bottom: white solid 3px;
    margin-bottom: 3%;
}

.contener{
    display: block;
    color: white;
    font-size: 20px;
    margin-left: 5%;
    font-size: 17px;
}
.bout{
    border-radius: 8px;
    border: 2px solid white;
    width: 250px;
margin-left: 3%;
cursor: pointer;
background: transparent;
color: white;
}
.bout:hover{
    color: violet;
    
}
div.image{
    display: block;
    overflow: visible;
    box-sizing: content-box;

}
 div.article1{
     background: url(./images/la-brune-de-jeun.jpeg) no-repeat;
     display: block;  
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    overflow: visible;
    background-size: cover;
    height: 300px;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
    
 }

 div.article2{
    background-image: url(./images/Architecture_urbaine.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: center;
    
   
}

div.article3{
    background-image: url(./images/la-mer-ma-super-trousse-a-pharmacie.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

div.article4{
    background-image: url(./images/sad_dog.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

div.article5{
    background-image: url(./images/aeroport-barcelone-1.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

div.article6{
    background-image: url(./images/site-de-photo-1024x683.jpeg);
    display: block;
    box-sizing: border-box;
    background-clip: content-box;
    width: 100%;
    height: 300px;
    overflow: visible;
    background-size: cover;
    
}
div.image,a{
   
    text-decoration: none;
    color: white;
    text-align: left;

    
}
div.image,h2{
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-bottom: 3%;
border-bottom: white dotted 3px;
margin-top: 0%;
text-align: center;



}

div.image,a:hover{
    background-color: rgba(238, 130, 238, 0.342);
}
   
    


.para,footer{
    background-color: rgb(73, 73, 112) 
}

div.para_1{
    background-color: rgb(73, 73, 112);
    color: white;
    border-bottom: black solid 3px;
}

div.form{
    background-color: rgb(73, 73, 112) ;
  flex-direction: row;
  align-items: stretch;
    color: white;
    border:black solid 2px
}






@media screen and (min-width:768px) and (max-width:1024) {
   
    header{

    
        
        width: 100%;
        display: flex;
        
      
      
       
    }
    .strong{
       display: flex;
        font-size: 17px;
    }
   
    
    .forty a{
        display: flex;
        margin-top: 5%;
       
    
    }
    a:hover{
        background-color: lightblue;
    }
    .nav{
        display: block;
        
    }
    
    #hero{
        display:block;
    }
    
    h1{
        font-size: 60px;}
        
    
   
    .bout{
        border-radius: 8px;
        border: 2px solid white;
        width: 250px;
    margin-left: 3%;
    cursor: pointer;
    background: transparent;
    color: white;
    }
    .bout:hover{
        color: violet;
        
    }
    div.image{
        display: block;
        overflow: visible;
        box-sizing: content-box;
       
    
    }
     div.article1{
      
        width: 100%;
      
        height: 300px;
       
     }
    
     div.article2{
       
      
        width: 100%;
        height: 300px;
        
       
    }
    
    div.article3{
       
        width: 100%;
        height: 300px;
      
    }
    
    div.article4{
       
        width: 100%;
        height: 300px;
       
        
    }
    
    div.article5{
        
       
        width: 100%;
        height: 300px;
        
        
    }
    
    div.article6{
       
        
        width: 100%;
        height: 300px;
      
    }
  
    
    div.image,h2{
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 3%;
    border-bottom: white dotted 3px;
    margin-top: 0%;
    text-align: left;
    
    
    
    }
    
    div.image,a:hover{
        background-color: rgba(238, 130, 238, 0.342);
    }
       
        
    
    
    .para,footer{
        background-color: rgb(73, 73, 112) 
    }
    
    div.para_1{
        background-color: rgb(73, 73, 112);
        color: white;
        border-bottom: black solid 3px;
    }
    
    div.form{
        background-color: rgb(73, 73, 112) ;
        text-align: left;
        color: white;
    }
    
}

@media screen and (max-width:1439) {

body{
    display: flex;
    width: auto;
}

    h1{
        font-size: 60px;
    }
    main{
        display: flex;
        
    }
    .image{
        content: "";
        display: flex;
        clear: both;
    }
    div.image{
        float: left;
        height: 470px;
        width: 23%;
        padding: 0;
    }
   


        .article1{
            background-color: blue;
       
                }
.article2{
    width: 43%;
  
}
.article3{
    width: 50%;
}
        /*.perso{
    box-sizing: border-box;
    display: inline-block;
    padding: 3%;
    flex-direction: row;

    position: relative;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    overflow: visible;
    background-size: cover;
    box-sizing: inherit;
    }

    .urb{
   
    box-sizing: border-box;
    float: right;
    width: 500px;
    height: 400px;
    display: inline-block;
    margin-top: -16%;
    margin-right: 0;
    position: relative;
    background-repeat: no-repeat;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-clip: content-box;
    overflow: visible;



    }
    */ 
}



